<style type="text/css">
.badge-il{
    left:50px;
    top: 40px;
    width: 50px; height: 30px; 
    
    -moz-border-radius: 100px / 50px; 
    -webkit-border-radius: 100px / 50px;
     border-radius: 100px / 50px;
}
#level,#career {
     background-color: #D8D8D8;
}
#layout2{
     background-color: #D8D8D8;
}
#il4{
    background-color:#E6E669;
    height: 120px;
    width: 450px;
    left: 50px;
    border-radius:25px;
    top:15px;
}
#badge-il4{
    background-color: #E7EB0C;
}
#il3{
    background-color: #FF66FF;
    height: 120px;
    width: 450px;
    left: 50px;
    border-radius:25px;
    top:15px;
}
#badge-il3{
    background-color: #FF99FF;
}
#il2{
    background-color: #AD5C85;
    height: 190px;
    width: 450px;
    left: 50px;
    border-radius:25px;
    top:15px;

}
#badge-il2{
    background-color: #CC99FF;
}
#badge-il0{
    background-color: #FFFFFF;

}
#il1{
    background-color: #66FFFF;
    height: 190px;
    width: 450px;
    left: 50px;
    border-radius:25px;
    top:15px;
}
#badge-il1{
    background-color:   #989898;
}
#il{
   
    height: 50px;
    width: 450px;
    left: 50px;
  }
#img_lev{
    height: 560px;
    width: 60px;
    left: 75px;
    top:25px;
    
}
#img_car{
    width: 560px;
    height: 60px;
    left: 175px;
}
#care{
    width: 560px;
    height: 100px;
    
}

.il4-pp1{
    font-weight: bold;
    background-color: #FFFF66;
    left:10px;


}
.il3-pp1{
    font-weight: bold;
    background-color:#FF99FF;
    left:10px;


}
.il2-pp1{
    font-weight: bold;
    background-color: #CC99FF;
    left:10px;


}
.il1-pp1{
    font-weight: bold;
    background-color:  #989898;
    left:10px;
    



}
.il0-pp1{
    font-weight: bold;
    background-color: #FFFFFF;
    height: 20px;
    width: 150px;
    right: 100px;
   


}
.pp1{
    font-weight: bold;
    height: 20px;
    width: 150px;
    
    text-align: center;

}
.pp{
    margin-bottom: 5px;
}


</style>
