/**** Main Template Styles ***/
.header {
    background: url("/static/img/header-bg.png") repeat-x bottom #2B388E;
    padding:0px !important;
}

#curve-design {
    width:97.4%;
    margin-left:1.5%;
}

#twscontentbox {
    background: url('/static/img/content-bg.jpg') repeat-x top #fff !important;
    padding:0px 10px ;
}

#twscontent {
    background:#fff;
    margin:4% 0% 5% 5%;
    border: 1px solid #fff;
    border-radius: 10px 10px 0px 0px;

}

.group-block {
    padding:10px;
}
.group-head {
    margin-left:20px;    
}
.group-child {
    margin-left:40px;    
}

.skill-block, .skillsdate-block, .levelchange-block , .wndp-block, .info-block, .warning-block{
    width:40%;
    height:10%;
    padding:10px;
    border-radius:4px;
    margin:5px;
    float:left;
}
.skill-block {
    border:2px solid #71beaa;
}
/* green #008045 */
.skillsdate-block  {
    border:2px solid #e28b25;
}
.levelchange-block {
    border:2px solid #008045;
}
.wndp-block {
    border:2px solid #e28b25;
    color:#000;
}
.info-block {
    border:2px solid #34789a;
}
.warning-block {
    border:2px solid #8a6d3b;
}

.ErrorField {
    border: 1px solid red;
}

.padd-top {
    padding-top:10px;

}
.not_met_doc_block, .not_met_reason_block {
    display: none;
}




