<!DOCTYPE html>

<html lang="en">
<head>
    {% include "base_static.html" %}
    {% block meta %}{% endblock %}

<style type="text/css">
      /* Sticky footer styles
      -------------------------------------------------- */

      html,
      body {
        height: 100%;
       
        /* The html and body elements cannot have any padding or margin. */
      }

      /* Wrapper for page content to push down footer */
      #wrapper {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -60px;
       
      }

      /* Set the fixed height of the footer here */
      #push,
      #footer {
        height: 60px;
      }
      #footer {
        background-color: #006FB9;
        color:#fff;
      }

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }

</style>
</head>

<body id="body" class="body" >
    <div id="wrapper">
        <div class"col-md-12">
            <div class="container">
                <div class="header row">
                        <div class="row">&nbsp;</div>
                
                    <div class="row">
                        <div class="col-md-2">
                            <img src="/static/img/logo.png" />
                        </div>
                       
                        

                        <div class="col-md-5">
                          <h1>Twenty Something</h1>
                        </div>
                        <div class="col-md-5">
                            <div class="row pull-right top-nav">
                                {% block top_nav %}
                                {% endblock %} 
                            </div>
                        </div>
                    </div>
                
                </div>
                <div id="twscontentbox" class="row">
                    <div class="col-md-11" id="twscontent">
                       
                        {% block content %}
                        {% endblock %}
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="row">&nbsp;</div>
            </div>
        </div>
        <div id="push"></div>
    </div>
    <div id="footer">
        <div class="container">
            <footer style="padding:20px;"> &copy; Twenty Something 2016 - 2017</footer> <!-- End of Footer -->
        </div>
    </div>

<!-- <script type="text/javascript">
$(document).ready(function(){
  window.setTimeout(function(){ $(".close-alert").fadeOut(5000);  });
});

</script> -->
</body>
</html> 