<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="cache-control" content="max-age=0" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="0" />
<meta http-equiv="expires" content="Friday, 13th Jan 1980 1:00:00 GMT" />
<meta http-equiv="pragma" content="no-cache" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{% load static %}
<link href="{% static "css/bootstrap-theme.css" %}" type="text/css" rel="stylesheet" />
<link href="{% static "css/bootstrap-theme.min.css" %}" type="text/css" rel="stylesheet" />
<link href="{% static "css/bootstrap.css" %}" type="text/css" rel="stylesheet" />
<link href="{% static "css/bootstrap.min.css" %}" type="text/css" rel="stylesheet" />


<script src="{% static "js/jquery-3.1.1.js" %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static "js/bootstrap.min.js" %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static "js/jquery.metadata.js" %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static "js/jquery.tablesorter.js" %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static "js/jquery.tablecloth.js" %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static "js/jquery-ui.min.js" %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static "js/jquery.cookie.js" %}" type="text/javascript" charset="utf-8"></script>
<!-- <script src="{% static "js/jquery.timer.js" %}" type="text/javascript" charset="utf-8"></script> -->
<!-- <script src="{% static "js/timer_utils.js" %}" type="text/javascript" charset="utf-8"></script> -->
<script src="{% static "js/intro.js" %}" type="text/javascript" charset="utf-8"></script>
<!-- <script src="{% static "js/jquery.ptTimeSelect.js" %}" type="text/javascript" charset="utf-8"></script> -->
<script src="{% static "js/bootstrap.js" %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static "js/bootstrap.min.js" %}" type="text/javascript" charset="utf-8"></script>
<!-- <script src="{% static "js/npm.js" %}" type="text/javascript" charset="utf-8"></script> -->