{% extends "base.html" %}
{% block content%}

<div class="container">
    {% include "navigation.html" %}
    <div class="row"> &nbsp;</div>
    <div class="row"> &nbsp;</div>
    <div class="row"> &nbsp;</div>
    <div class="row">
    	<table id="twy_table" class="table table-striped">
                <thead class="table_names" >
                    <th class="text-center">S.No</th>
                    <th class="text-center">Id</th>
                    <th class="text-center">Name</th>
                    <th class="text-center">Price</th>

                    <th class="text-center">Qty</th>
                    <th class="text-center">Total</th>
                    

                    
                </thead>
                <tbody>
                    {% if cart %}
                        {% for c in cart %}
                        
                            <tr>
                                <td class="text-center">{{forloop.counter}}</td>
                                <td class="text-center">{{c.items.id}}
                                
                                
                                <td class="text-center">{{c.items.name}}</td>
                                <td class="text-center">{{c.items.price}}</td>
                                <td class="text-center">{{c.qty}}</td>
                                <td class="text-center">{{c.total}}</td>

                                 <td><a href="/remove/{{c.id}}/"><span class="glyphicon glyphicon-remove-circle"></span></a></td>   

                                
                            </tr>
                        {%endfor%}
                        {%else%}
                        <tr class="message-info">
                    <td class="text-center"colspan="7">
                        <h2>No added items</h2>
                    </td>
                        </tr>
                    {%endif%}
                    
                </tbody>
            </table>



    </div>
    {% if cart %}
    <form action="/checkout/" method="POST">
    {% csrf_token %}
    <div class="row col-md-12">
    <div class="col-md-11">
    &nbsp;
    </div>
    <div class="col-md-1">
    	<button type="submit" class="btn btn-primary btn-left">Checkout</button>
    </div>
    </div>
    </form>
    {% endif %}
</div>

<script type="text/javascript">
    $(document).ready(function(){

            setTimeout(function(){
                $(".twy-tabs > li").removeClass("active");
                $(".cart-tab").addClass("active");
            }, 400);

           

    });

</script>
<style type="text/css">
.table_names{
  font-weight:bold;

}


</style>

 <script type="text/javascript" charset="utf-8">
      $(document).ready(function() {
        $("table").tablecloth({
          theme: "paper",
          striped: true,
          sortable: true,
          condensed: true
        });
      });
    </script>
{% endblock %}