{% extends "base.html" %}
{% block content%}
<div class="container">
    {% include "navigation.html" %}
    <div class="row"> &nbsp;</div>
    <div class="row"> &nbsp;</div>
    <div class="row"> &nbsp;</div>

    <div class="row">
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li><a href="/orders/">Orders</a></li>
      <li class="active">Checkout</li>
    </ol>
        
    </div>

    <div class="col-md-12">
    <div class="col-md-4">&nbsp;</div>
    <div class="col-md-8">
    <h2 class="txt-center">Order palced suceesfully</h2>
        </div>
    </div>

</div>

<script type="text/javascript">
    $(document).ready(function(){

            setTimeout(function(){
                $(".twy-tabs > li").removeClass("active");
                $(".orders-tab").addClass("active");
            }, 400);

           

    });

</script>
{% endblock %}