{% extends "base.html" %}

{% block content %}
<div class="col-md-12">
    <div class="row">&nbsp;</div>

    <div class="row">
        <div class="col-md-6 bs-callout bs-callout-danger">
            <div class="row">&nbsp;</div>
            <h4>About Twenty Something</h4>
            <div class="row">&nbsp;</div>
            <ul>
                <li>Browse through categories</li>
                <li>Add to your cart</li>
                <li> <a href="/admin/"><input type="signup" class="btn btn-info" value="signup" /></a></li>
            </ul>
        </div>

        <div class="col-md-6" data-step="3" data-intro="Login Form for all users of the system." data-position="left">
            {% include "login_form.html" %}
        </div>
    </div>
   
</div>


{%endblock %}