<div class="highlight">
    <div class="row">&nbsp;</div>
    <h3>Login </h3>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <form action="/login/" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <div class="col-md-4">
                <label for="username"> Username:</label>
            </div>
            <div class="col-md-8">
                <input id="username" name="username" />
            </div>
            <div class="clearfix"></div>
        </div>
        
        <div class="form-group">
            <div class="col-md-4">
                <label for="password"> Password:</label>
            </div>
            <div class="col-md-8">
                <input id="password" name="password" type="password" />
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="form-group">
            <div class="col-md-8 pull-right">
                <input type="submit" class="btn btn-info" value="submit" />
            </div>
            <div class="clearfix"></div>
        </div>
    </form>
    <div class="row">&nbsp;</div>
</div>