   <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <div class="row">
        {% csrf_token %}
        <ul class="nav nav-pills col-md-10 twy-tabs">
        </ul>
        <div class="clearfix"></div>
    </div>

    


    <script type="text/javascript">
        $(document).ready(function(){
                
                $(".top-nav").html("<button data-toggle='modal' data-target='#ChangePasswordModal' class='btn'>Change Password</button> &nbsp; &nbsp; <a href='/logout/'>Logout</a>");


                $.ajax({
                    type: "POST",
                    data : "csrfmiddlewaretoken="+$("input[name='csrfmiddlewaretoken']").val(),
                    url : "/get_role/",
                    success : function(data){

                        var menuoptions = '';
                        if (data.role == "te"){

                        menuoptions += '<li class="home-tab">'+
                            '<a href="/'+data.username+'/">Home</a></li>' +
                            '<li class="orders-tab" >' +
                                '<a href="/orders/">Orders</a></li>' + 
                            '<li class="returns-tab" >' +
                                '<a href="/returns/">Returns</a></li>' + 
                            '<li class="offers-tab" data-step="8" data-position="bottom">' +
                                '<a href="/offers/">offers</a>' +
                            '</li>' +
                            
                            '<li class="cart-tab" data-step="3" data-position="bottom">'+
                                '<a href="/cart/">cart<span class="badge pull-right">'+data.count+'</span></a>'+
                            '</li>';

                        } 

                        $(".twy-tabs").html(menuoptions);

                    } 
                    
                    
                });




                
        });
    </script>
