{% extends "base.html" %}
{% block content%}
<div class="container">
    {% include "navigation.html" %}
    <div class="row"> &nbsp;</div>
    <div class="row"> &nbsp;</div>
    <div class="row"> &nbsp;</div>

    <div class="col-md-12">
	
	
    
	<div class="col-md-4">
		
		<img src="http://www.simplyss.com/skins/new/site/images/xspecial-icon.png.pagespeed.ic.adfXgzrWEa.png" HEIGHT=150 WIDTH=150  ALIGN="ABSMIDDLE" />
                <!-- <input type="image" src="media/media/cat/images/IMG_6019.JPG" HEIGHT=150 WIDTH=150  ALIGN="ABSMIDDLE" />  -->
        
		<p>Offer1</p>
 <div class="row"> &nbsp;</div>
  <div class="row"> &nbsp;</div>
  
	</div>
	<div class="col-md-4">
		
		<img src="http://www.simplyss.com/skins/new/site/images/xspecial-icon.png.pagespeed.ic.adfXgzrWEa.png" HEIGHT=150 WIDTH=150  ALIGN="ABSMIDDLE" />
                <!-- <input type="image" src="media/media/cat/images/IMG_6019.JPG" HEIGHT=150 WIDTH=150  ALIGN="ABSMIDDLE" />  -->
        
		<p>Offer2</p>
 <div class="row"> &nbsp;</div>
  <div class="row"> &nbsp;</div>
  
	</div>
	<div class="col-md-4">
		
		<img src="http://www.simplyss.com/skins/new/site/images/xspecial-icon.png.pagespeed.ic.adfXgzrWEa.png" HEIGHT=150 WIDTH=150  ALIGN="ABSMIDDLE" />
                <!-- <input type="image" src="media/media/cat/images/IMG_6019.JPG" HEIGHT=150 WIDTH=150  ALIGN="ABSMIDDLE" />  -->
        
		<p>Offer3</p>
 <div class="row"> &nbsp;</div>
  <div class="row"> &nbsp;</div>
  
	</div>
	<div class="col-md-4">
		
		<img src="http://www.simplyss.com/skins/new/site/images/xspecial-icon.png.pagespeed.ic.adfXgzrWEa.png" HEIGHT=150 WIDTH=150  ALIGN="ABSMIDDLE" />
                <!-- <input type="image" src="media/media/cat/images/IMG_6019.JPG" HEIGHT=150 WIDTH=150  ALIGN="ABSMIDDLE" />  -->
        
		<p>Offer4</p>
 <div class="row"> &nbsp;</div>
  <div class="row"> &nbsp;</div>
  
	</div>

	<div class="col-md-4">
		
		<img src="http://www.simplyss.com/skins/new/site/images/xspecial-icon.png.pagespeed.ic.adfXgzrWEa.png" HEIGHT=150 WIDTH=150  ALIGN="ABSMIDDLE" />
                <!-- <input type="image" src="media/media/cat/images/IMG_6019.JPG" HEIGHT=150 WIDTH=150  ALIGN="ABSMIDDLE" />  -->
        
		<p>Offer5</p>
 <div class="row"> &nbsp;</div>
  <div class="row"> &nbsp;</div>
  
	</div>

	
</div>

</div>

<script type="text/javascript">
    $(document).ready(function(){

            setTimeout(function(){
                $(".twy-tabs > li").removeClass("active");
                $(".offers-tab").addClass("active");
            }, 400);

           

    });

</script>
{% endblock %}