{% extends "base.html" %}
{% block content%}

<div class="container">
    {% include "navigation.html" %}
    <div class="row"> &nbsp;</div>
    <div class="row"> &nbsp;</div>
    <div class="row"> &nbsp;</div>
    <div class="row">
    	<table id="twy_table" class="table table-striped">
                <thead class="table_names" >
                    <th class="text-center">S.No</th>
                    <th class="text-center">Id</th>
                   

                    <th class="text-center">Number Of Items</th>
                    <th class="text-center">Total</th>
                    

                    
                </thead>
                <tbody>
                    {% if cart %}
                        {% for c in cart %}
                        
                            <tr>
                                <td class="text-center">{{forloop.counter}}</td>
                                <td class="text-center"><a href="/order_items/{{c.id}}/">{{c.id}}</a></td>
                                
                                
                                
                                <td class="text-center">{{c.num_items}}</td>
                                <td class="text-center">{{c.total}}</td>

                               <!--  <td><form method="POST">{% csrf_token %}
                                    <input type="hidden" name="jobid" value="{{jobid}}"></input>
                                    <input type="hidden" name="emp" value="{{f.employee.empcode}}"></input>
                                    <button type="submit" class="btn btn-danger approvebtn" name="unselect" value="{{f.id}}">Unselect</button></form></td> -->

                                
                            </tr>
                        {%endfor%}
                        {%else%}
                        <tr class="message-info">
                    <td class="text-center"colspan="7">
                        <h2>No apllication for review</h2>
                    </td>
                        </tr>
                    {%endif%}
                    
                </tbody>
            </table>

    </div>

</div>

<script type="text/javascript">
    $(document).ready(function(){

            setTimeout(function(){
                $(".png-tabs > li").removeClass("active");
                $(".orders-tab").addClass("active");
            }, 400);

           

    });

</script>
<style type="text/css">
.table_names{
  font-weight:bold;

}


</style>

 <script type="text/javascript" charset="utf-8">
      $(document).ready(function() {
        $("table").tablecloth({
          theme: "paper",
          striped: true,
          sortable: true,
          condensed: true
        });
      });
    </script>
{% endblock %}