{% extends "base.html" %}
{% block content %}
<div class="container">
    {% include "navigation.html" %}
    <div class="row"> &nbsp;</div>
    <div class="row"> &nbsp;</div>
    <div class="row"> &nbsp;</div>


<div class="col-md-12">
	
	{% for x in cat %}
	<!-- <form action='/addtocart/{{x.id}}' method="POST"> -->
	{% csrf_token %}
    <!-- <a href=/products/{{x.id}}/> -->
	<div class="col-md-4">
		{% if x.image %}
		<img src={{x.image.url}} HEIGHT=150 WIDTH=150  ALIGN="ABSMIDDLE" />
                <!-- <input type="image" src="media/media/cat/images/IMG_6019.JPG" HEIGHT=150 WIDTH=150  ALIGN="ABSMIDDLE" />  -->
        {% endif %}
		<p>{{x.name}}</p>
		<!-- <input type="hidden" name="pro_id" value="{{x.id}}" > -->
		<!-- <a  type="submit">Add to cart</button> -->
		<a href="/addtocart/{{x.id}}/">Add to cart</a>
 <div class="row"> &nbsp;</div>
  <div class="row"> &nbsp;</div>
  </a>
	</div>

	{% endfor %}
</div>
<!-- </form> -->
</div>
<script type="text/javascript">
    $(document).ready(function(){

            setTimeout(function(){
                $(".twy-tabs > li").removeClass("active");
                $(".products-tab").addClass("active");
            }, 400);

           

    });

</script>
<style type="text/css">
    .image_profile {
    width: 150px;
    height: 150px;
   
    
}
</style>
{% endblock %}