{% extends "base.html" %}

{% block content %}
<div class="container">
    {% include "navigation.html" %}
    <div class="row"> &nbsp;</div>
    <div class="row"> &nbsp;</div>
    <div class="row"> &nbsp;</div>

    <div class="row" >
    	<input type="text" name="pro_id" placeholder="productid">

    	<button type="submit">Submit</button>

    </div>
	
</div>


<script type="text/javascript">
    $(document).ready(function(){

            setTimeout(function(){
                $(".twy-tabs > li").removeClass("active");
                $(".returns-tab").addClass("active");
            }, 400);

           

    });

</script>
{% endblock %}