{% extends "base.html" %}
{% block content %}
<div class="container">
    {% include "navigation.html" %}
    <div class="row"> &nbsp;</div>
    <div class="row"> &nbsp;</div>
    <div class="row"> &nbsp;</div>
<div class="col-md-12">
	
	{% for x in cat %}
    <a href=/products/{{x.id}}/>
	<div class="col-md-4">
		{% if x.image %}
		<img src={{x.image.url}} HEIGHT=150 WIDTH=150  ALIGN="ABSMIDDLE" />
                <!-- <input type="image" src="media/media/cat/images/IMG_6019.JPG" HEIGHT=150 WIDTH=150  ALIGN="ABSMIDDLE" />  -->
        {% endif %}
		<p>{{x.name}}</p>
 <div class="row"> &nbsp;</div>
  <div class="row"> &nbsp;</div>
  </a>
	</div>

	{% endfor %}
</div>

</div>
<script type="text/javascript">
    $(document).ready(function(){

            setTimeout(function(){
                $(".twy-tabs > li").removeClass("active");
                $(".home-tab").addClass("active");
            }, 400);

           

    });

</script>
<style type="text/css">
    .image_profile {
    width: 150px;
    height: 150px;
   
    
}
</style>
{% endblock %}