{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    {% if logout_success == 1 %}
        <div class="row">
            <div class="col-md-12">
                <p class="alert-message error"> 
                You have been successfully logged out. Please <a href="/" class="btn btn-info">Click Here</a> to Login.
                </p>
            </div>
        </div>
    {%endif%}
</div>
{% endblock %}